body {
       font-family:      Verdana, Arial, Times, Times New Roman;
       font-size:        10pt;
       color:            black;
     }

div {
       font-family:      Verdana, Arial, Times, Times New Roman;
       font-size:        10pt;
       color:            black;
     }

.link {
       font-family:      Verdana, Arial, Times, Times New Roman;
       font-size:        10pt;
     }

.text22 {
       font-family:      Times, Times New Roman;
       font-size:        22pt;
       color:            black;
     }

.text18 {
       font-family:      Times, Times New Roman;
       font-size:        18pt;
       color:            black;
     }

.text14 {
       font-family:      Verdana, Arial, Times, Times New Roman;
       font-size:        14pt;
       color:            black;
     }

.text12 {
       font-family:      Verdana, Arial, Times, Times New Roman;
       font-size:        12pt;
       color:            black;
     }

.text11 {
       font-family:      Verdana, Arial, Times, Times New Roman;
       font-size:        11pt;
       color:            black;
     }

.text10 {
       font-family:      Verdana, Arial, Times, Times New Roman;
       font-size:        10pt;
       color:            black;
     }

